:root {
  --iconic-color: #8c6f90;
  --text-color1: #908c6f;
  --text-color2: #f8fca1;
  --headings: #6f808c;
  --background1: #89e48f;
  --background2: #6fb974;
  --background3: #89e4d7;
  --text-icon: "Bellefair", serif;
  --text-headings1: "Cantarell", sans-serif;
  --text-headings2:"Source Code Pro", monospace;
}

body {
  
  width: 100vw;
  height: auto;
}

/* Header */
header {
  display: flex;
  line-height: 1; 
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-evenly;
  padding: 1% 1.25%;
  width: 100%;
  height: 13%;
  background-color: var(--background1);
}
header section h1{
    font-style: italic;
    color: var(--iconic-color);
    font-size: 3.50em;
    font-family: var(--text-icon);
    font-weight: 600;
    border-top: 1px solid darkred;
    border-bottom: 3px solid darkred;
    padding: 5px;
}

header section ul {
  display: inline-flex;
  padding-top: 3%;
  
}

header section ul li {
  text-align: center;
  padding: 1px 22px;
  font-size: 1.75rem;
  color: var(--headdings);
  
}

a:link {
  color: var(--headdings);
}

section ul > li >  a {
  flex-direction: row;
  text-decoration: none;
  font-family:  var(--text-headings2);
}
.left button,
.btn > button {
  color:white;
  background-color: var(--background2);
  outline: none;
  text-decoration: none;
  border: none;
  padding: 1em 1.85em;
  border-radius: 3px;
  font-size: 1.35em;
  font-weight: 500;
  letter-spacing: 3px;
  font-family: var(--text-headings2);
}
/* Main Area */ 
.top-content-wrapper{
    width: 100%;
    height: 100%;
    padding-top: 1%;
    /* background-color: var(--background3); */
    
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
    
}
.right{
    width: 100vw;
    height: auto;
}

.right img{
    width: 100%;
    height: auto;
    object-fit: fill;
    padding-right: 1%;
    padding-bottom: 1.25%;
   
   
}

.left{
    padding-top: 25px;
    align-self: flex-start;
    width: 100%;
}
.left > span {
    padding: 2%;
    line-height: 1.8;
    font-size: 1.55em;
    font-family: var(--text-heading1);
    font-weight: bolder;
    color: darkred;
}
.left h1{

    padding-left: 2%;
    padding-bottom: 4%;
    font-size: 3.525em;
    font-weight: 400;
    font-family: var(  --text-headings1);
}
.left input {
    background-color: var(--iconic-color2);
    margin: 1.85%;
    padding: 13px 90px;
    border-radius: 5px;
    font-family: var(--text-headings2);
    border: 2px ridge var(--background2);
}

.left p{
    font-size: 2em;
    font-weight:lighter;
    font-family: var(--text-headings2);
    line-height: 1.3;
    padding: 3%;
    
}
.bottom-content-wrapper{
    display: flex;
    flex-direction: row;
    padding: 1.25%;
    line-height: 2;
    
}
.icons span{
    color: darkred;
    padding: 5%;
}
.icon{
    font-size: 2em;
    color: var(--iconic-color);
 
}
.icons > h2{
    font-size: 2.25em;
    border-bottom: 25px wavy darkred;
    padding: 4%;
    font-family: var(--text-headings1);
    color: var(--iconic-color);
}
.icons > p {
    font-size: 1.55rem;
    padding: 4%;
    font-family: serif;
    font-weight:lighter;
    font-family: var(--text-headings2);
}

.icons a {
    text-decoration: none;
    font-size: 1.75em;
    font-weight: bold;
    padding: 5%;
    font-family: var(--text-icon);
    color: var(--iconic-color);
}

footer{
    background-color: var(--background1);
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    padding: 2% 1.75%;
}

footer h1{
    font-size: 3em;
    padding:0.55%;
    font-family: var(--text-icon);
}
footer p {  
    font-size: 1.75rem;
    font-family: var(--text-headings2);
    font-family: serif;
    font-weight:lighter;
}